<!doctype html>
<html>

<head>
    {% include 'head.html' %}
</head>

<body>

    {% include 'header.html' %}


<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Reasonable and Reliable</h1>
          <p>Want a free estimate for a dock install, new dock, or lift? Enter information about your project, and we'll respond within one business day! *If inquiring about a dock install, please include: dock type, the number of sections, and your location.*</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact form start -->
<section id="contact-form">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email Address">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Subject">
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <form>
            <div class="form-group-2">
              <textarea class="form-control" rows="3" placeholder="Your Message"></textarea>
            </div>
            <button class="btn btn-default" type="submit">Send Message</button>
          </form>
        </div>
      </div>
    </div>
    <div id="contact-box" class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>Stop By For A Visit (Soon)</h2>
          <ul class="address-block">
            <li>
              <i class="fa fa-map-marker"></i>9914 US 31 S, Ellsworth, MI 49729
            </li>
            <!-- <li>
              <i class="fa fa-envelope-o"></i>Email: contact@mail.com
            </li> -->
            <li>
              <i class="fa fa-phone"></i>Phone: 231-357-1416
            </li>
            <li>
                <i class="fa"></i> <i style="font-size: 15px;">*Meetings By Appointment Only</i> 
              </li>
          </ul>

          <br>
         <h2>Follow Us On Facebook!</h2> 
          <ul class="address-block">
            <!-- <li>
              <a href="http://www.themefisher.com"><i class="fa fa-google"></i></a>
            </li>
            <li>
              <a href="http://www.themefisher.com"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="http://www.themefisher.com"><i class="fa fa-pinterest"></i></a>
            </li>
            <li>
              <a href="http://www.themefisher.com"><i class="fa fa-dribbble"></i></a>
            </li>
            <li>
              <a href="http://www.themefisher.com"><i class="fa fa-behance"></i></a>
            </li>
            <li>
              <a href="http://www.themefisher.com"><i class="fa fa-twitter"></i></a>
            </li> -->
            <li>
              <a href="https://www.facebook.com/bigbeardockandmarine/"><i class="fa fa-facebook"></i> <p style="display:inline; position: relative; top:-2px;">Big Bear Dock & Marine</p> </a> 
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <h2>Our New Location!</h2>
            <div class="google-map">
              <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.472979439986!2d-73.97769068489596!3d40.7516207793276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2590247c56379%3A0x15e13bea38b43e18!2sChrysler+Building!5e0!3m2!1sen!2sus!4v1477406538220" width="555" height="300" frameborder="0" style="border:0" allowfullscreen></iframe> -->
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2812.4291955989643!2d-85.3468297845394!3d45.17840746048876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d4ac25a578500b9%3A0x84a316dc7deb6b55!2s9914%20US-31%2C%20Ellsworth%2C%20MI%2049729!5e0!3m2!1sen!2sus!4v1636051987582!5m2!1sen!2sus" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<!-- <section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>We offer start-to-finish solutions for every dock and hoist project. We also offer full design services. Judge for yourself the work and results we’ve achieved for other clients, and get a free estimate from our highly experienced team today.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section> -->


{% include 'footer.html' %}
  
    


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
