
    <header>
        <div class="container">
          <div class="row ">
            <div class="col-md-12">
              <!-- header Nav Start -->
              <nav class="navbar navbar-default ">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header ">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <div class = "parent">
                    <a class="navbar-brand inline-block-child item" href="/">
                      <img src="{{ url_for('static',filename='img/logo.png') }}" alt="Logo">

                      
                    </a>
                    <div class = "inline-block-child item" > <h3>BIG BEAR DOCK & <br class="break" > MARINE SERVICES</h3></div>
                </div>
                  </div>
                  <!-- <div><h2>Bear</h2></div> -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <!-- <li><a href="/services">Services</a></li> -->
                        <li><a href="/estimates">Estimates</a></li>
                        <li><a style="opacity: .5;" href="">Shop</a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
              </div>
            </div>
          </div>
        </header>